.cell {
  padding-bottom: 20rem;

  font-size: 14rem;
  font-weight: 300;
  line-height: 20rem;
  color: var(--color-dark);

  // white-space: nowrap;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
