.wrapper {
  flex: 1;
  padding: 28rem;
  padding-left: 52rem;

  background-color: var(--color-accent-purple);
  border-radius: 4rem;

  background: radial-gradient(
    var(--color-accent-green),
    var(--color-accent-purple)
  );
  background-position: left bottom;

  &:nth-child(4n + 1) {
    background: radial-gradient(
      ellipse at top left,
      var(--color-light) 0%,
      var(--color-accent-green) 20%,
      var(--color-accent-green) 40%,
      var(--color-accent-purple) 70%,
      var(--color-accent-purple) 100%
    );
  }

  &:nth-child(4n + 2) {
    background: radial-gradient(
      ellipse at bottom right,
      var(--color-light) 0%,
      var(--color-accent-green) 40%,
      var(--color-accent-purple) 70%,
      var(--color-accent-purple) 100%
    );
  }

  &:nth-child(4n + 3) {
    background: radial-gradient(
      ellipse at bottom left,
      var(--color-light) 0%,
      var(--color-accent-green) 40%,
      var(--color-accent-purple) 70%,
      var(--color-accent-purple) 100%
    );
  }

  &:nth-child(4n + 4) {
    background: radial-gradient(
      ellipse at top right,
      var(--color-light) 0%,
      var(--color-accent-green) 20%,
      var(--color-accent-green) 40%,
      var(--color-accent-purple) 70%,
      var(--color-accent-purple) 100%
    );
  }
}

.content {
  display: flex;
  align-items: baseline;
}

.text {
  position: relative;
  margin-bottom: 20rem;

  font-size: 12rem;
  line-height: 16rem;
  letter-spacing: 0rem;

  &::before {
    content: '';

    position: absolute;
    top: 50%;
    left: -24rem;

    margin-right: 8rem;
    display: inline-block;
    width: 16rem;
    height: 2rem;

    background-color: var(--color-dark);
    border-radius: 20rem;
    transform: translateY(-50%);
  }
}

.number {
  font-size: 60rem;
  font-weight: 600;
  line-height: 60rem;
  letter-spacing: 0rem;
}
