.wrapper {
  width: 460rem;

  border-radius: 4rem;
  background-color: var(--color-bg-secondary);
}

.title {
  margin: 20rem;
}

.table {
  width: 100%;
  border-collapse: collapse;

  th,
  td {
    padding: 0 20rem;
  }

  th {
    font-family: PlusJakartaSans;
    font-size: 12rem;
    line-height: 16rem;
    color: var(--color-dark);

    &:first-child {
      text-align: left;
      color: var(--color-light);
      background-color: var(--color-dark);
    }

    &:nth-child(2n + 2) {
      width: 104rem;
      background-color: var(--color-accent-purple);
    }
    &:nth-child(2n + 3) {
      width: 104rem;
      background-color: var(--color-accent-green);
    }
  }

  td {
    font-family: PlusJakartaSans;
    font-size: 14rem;
    line-height: 20rem;
    color: var(--color-dark);

    &:first-child {
      text-align: left;
    }
  }
}

.thead {
  height: 26rem;

  tr {
    height: 28rem;
  }
}

.tbody {
  tr {
    height: 36rem;

    &:nth-child(odd) {
      background-color: var(--color-bg-primary);
    }
  }

  td {
    border: 1rem solid var(--color-bg-secondary);

    &:not(:first-child) {
      text-align: center;
    }
  }
}
