.btn {
  height: 44rem;
  padding: 0 20rem;

  font-size: 16rem;
  font-weight: 500;
  line-height: 24rem;
  letter-spacing: 0rem;
  color: var(--color-light);
  background-color: var(--color-dark);
  border-radius: 4rem;
}
