.input {
  padding: 12rem;
  width: 100%;

  font-size: 14rem;
  font-weight: 400;
  line-height: 20rem;
  color: var(--color-text-primary);

  box-shadow: 0rem 2rem 4rem -2rem #55698705;
  box-shadow: 0rem 6rem 10rem -2rem #5569870a;
  border: 1rem solid var(--color-border);
  border-radius: 4rem;

  &::placeholder {
    color: var(--color-text-secondary);
  }
}
