:root {
  --color-dark: #111827;
  --color-light: #fafafa;
  --color-accent-green: #d9f99d;
  --color-accent-purple: #e9d5ff;
  --color-border: #d1d5db;

  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;

  --text-title: normal 600 30rem/36rem 'PlusJakartaSans';
}
